# UI theme config for the extension's popup UI (e.g. solarizedLight)
VITE_UI_THEME_ID=solarizedLight

# Strips all console.* calls from compiled bundles if set to true (true/false)
VITE_DISABLE_LOG=true

# Displays the formatted date/time of the build in the popup header if set to true (true/false)
VITE_SHOW_BUILD_DATE=false
